#person {
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 49px;
    z-index: 1;
    margin-left: 10%;
    margin-right: 10%;
  }



#skillbox{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 14px;
}

#Skills {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: space-around;
  margin:0;
}

#Tech {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  height: 200px;
  width: 200px;
 
  

}


#itemMid {
    display: flex;
}

#itemLow {
    display: flex;
    
   
}
img {
  
  border-radius: 4px;
  padding: 5px;
 
}

#section{


    margin-top: 79px;
    margin-left: 10%;
    margin-right: 10%;


   
    
}

#boxTech {
   
  
 width: 35%;
 display: flex;

  flex-wrap: wrap;
  gap: 30px;
  
  margin: 0;
  float: left;
  justify-content: center;   
  padding: 24px;
  flex-direction: column;
 


  
}

ul {
  border: 5px solid rgb(0, 0, 0);
  background-color: rgb(24, 39, 58);
  padding: 24px;
}





#box:hover {
  animation-play-state: paused;
}





@keyframes rotate {
  0% {
    transform: rotate(5deg);
  }
  50% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(5deg);
  }
}


@keyframes run {
    0% {
        transform: translateX(-200%);
    }
    100% {
        transform: translateX(300%);
    }
   
  }



  .btn-hover {
    width: 200px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    margin: 20px;
    height: 55px;
    text-align:center;
    border: none;
    background-size: 300% 100%;

    border-radius: 50px;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.btn-hover:hover {
    background-position: 100% 0;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.btn-hover:focus {
    outline: none;
}

.btn-hover.color-1 {
    background-image: linear-gradient(to right, #25aae1, #40e495, #30dd8a, #2bb673);
    box-shadow: 0 4px 15px 0 rgba(49, 196, 190, 0.75);
}



